@import 'tailwindcss';

@font-face {
	font-family: 'AdobeTextPro';
	src: url('/fonts/AdobeTextPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'segoeui';
	src: url('/fonts/segoeui.ttf') format('truetype');
}

@theme {
	--color-background: 240, 240, 240;
	--color-primary: 34, 34, 34;
	--color-secondary: 85, 85, 85;

	--font-title: AdobeTextPro, serif;
	--font-content: segoeui, sans-serif;
}

/* Add global transition for elements using theme colors */
* {
	transition-property:
		background-color, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, color, border-color,
		filter, fill, stroke;
	transition-duration: 1000ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	scroll-behavior: smooth;
}

body {
	background-color: var(--color-background);
	color: rgb(var(--color-primary));
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
}
